@import '../../styles/global.scss';

.article {
    max-width: 941px;
    height: 140px;
    @include article-style;
    padding-left: 18px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 28px 20px 65px;
    grid-row-gap: 10px;
}

.articleHeader, .articleTagList, .articleContent {
    grid-column: 1;
}

.articleHeader {
    grid-row: 1;
}

.articleTagList {
    grid-row: 2;
}

.articleContent {
    grid-row: 3;
}
