$backgroundColor: #ebeef3;
$backgroundColorHeader: #fff;
$headingColor: rgba(0, 0, 0, 0.85);
$successColor: #52c41a;
$backgroundColorBase: #fff;
$borderColor: #d9d9d9;
$infoColor: #1890ff;
$infoColorHover: #0056b3;
$textColorSecondary: rgba(0, 0, 0, 0.5);
$textColor: rgba(0, 0, 0, 0.75);
$textColorForFormsTitles: #262626;
$textColorForFormsAgreement: #595959;
$textColorForFormsFields: #bfbfbf;
$textColorForFormsAlternativeSign: #8c8c8c;
$textColorForInvalidForm: #F5222D;
$textColorForValidForm: #1890ff;
$btnDeleteColor: #F5222D;
$btnAddColor: #1890ff;
$boxShadowStandard: 0px 0.6088px 2.93329px 0px rgba(0, 0, 0, 0.02), 0px 1.46302px 7.04911px 0px rgba(0, 0, 0, 0.03), 0px 2.75474px 13.27285px 0px rgba(0, 0, 0, 0.04), 0px 4.91399px 23.67649px 0px rgba(0, 0, 0, 0.04), 0px 9.19107px 44.28427px 0px rgba(0, 0, 0, 0.05), 0px 22px 106px 0px rgba(0, 0, 0, 0.07);

@mixin flex-align-justify-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin article-style {
  border-radius: 5px;
  background: $backgroundColorBase;
}

@mixin vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin typography-for-header-title {
  color: $headingColor;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin typography-for-article-header {
  color: $infoColor;
  font-family: 'Inter UI', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin typography-for-tags {
  color: $textColorSecondary;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typography-for-content {
  color: $textColor;
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin typography-for-date {
  color: $textColorSecondary;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin typography-for-form-title {
  color: $textColorForFormsTitles;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin typography-for-form-names {
  color: $textColorForFormsTitles;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin typography-for-form-fields-placeholder {
  color: $textColorForFormsFields;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin typography-for-form-fields{
  color: $textColor;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  }

@mixin typography-for-create-form-btn {
  color: $backgroundColorHeader;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin typography-for-alternative-sign {
  color: $textColorForFormsAlternativeSign;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin typography-for-signIn-alternative {
  color: $infoColor;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin typography-for-invalid-form {
  color: $textColorForInvalidForm;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin typography-for-delete-btn {
  color: $textColorForInvalidForm;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin typography-for-add-btn {
  color: $textColorForValidForm;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin errorMessage {
  display: flex;
  justify-content: center;
  @include typography-for-invalid-form;
}

@mixin btnDeleteStyles {
  @include flex-align-justify-center;
  justify-content: center;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background-color: $backgroundColorBase;
  border-radius: 4px;
  border: 1px solid $btnDeleteColor;
  @include typography-for-delete-btn;
  transition: transform 0.3s, border 0.3s, font-size 0.3s;
  &:active {
    transform: translateY(4px);
    border: 3px solid $btnDeleteColor;
    font-size: 17px;
  }
  &:hover {
    border: 3px solid $btnDeleteColor;
    font-size: 17px;
  }
}

@mixin btnAddStyles {
  @include flex-align-justify-center;
  justify-content: center;
  width: 136px;
  height: 40px;
  cursor: pointer;
  background-color: $backgroundColorBase;
  border-radius: 4px;
  border: 1px solid $btnAddColor;
  @include typography-for-add-btn;
  transition: transform 0.3s, border 0.3s, font-size 0.3s;
  &:active {
    transform: translateY(4px);
    border: 3px solid $btnAddColor;
    font-size: 17px;
  }
  &:hover {
    border: 3px solid $btnAddColor;
    font-size: 17px;
  }
}