$backgroundColor: #ebeef3;
$backgroundColorHeader: #fff;
$headingColor: rgba(0, 0, 0, 0.85);
$successColor: #52c41a;
$backgroundColorBase: #fff;
$borderColor: #d9d9d9;
$infoColor: #1890ff;
$infoColorHover: #0056b3;
$textColorSecondary: rgba(0, 0, 0, 0.5);
$textColor: rgba(0, 0, 0, 0.75);
$textColorForFormsTitles: #262626;
$textColorForFormsAgreement: #595959;
$textColorForFormsFields: #bfbfbf;
$textColorForFormsAlternativeSign: #8c8c8c;
$textColorForInvalidForm: #F5222D;

@mixin flex-align-justify-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin article-style {
  border-radius: 5px;
  background: $backgroundColorBase;
}

@mixin vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin typography-for-header-title {
  color: $headingColor;
  font-family: 'Inter UI', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin typography-for-article-header {
  color: $infoColor;
  font-family: 'Inter UI', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin typography-for-tags {
  color: $textColorSecondary;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin typography-for-content {
  color: $textColor;
  font-family: 'Inter UI', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin typography-for-date {
  color: $textColorSecondary;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin typography-for-form-title {
  color: $textColorForFormsTitles;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

@mixin typography-for-form-names {
  color: $textColorForFormsTitles;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin typography-for-form-fields-placeholder {
  color: $textColorForFormsFields;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin typography-for-form-fields{
  color: $textColor;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  }

@mixin typography-for-create-form-btn {
  color: $backgroundColorHeader;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin typography-for-alternative-sign {
  color: $textColorForFormsAlternativeSign;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin typography-for-signIn-alternative {
  color: $infoColor;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@mixin typography-for-invalid-form {
  color: $textColorForInvalidForm;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin errorMessage {
  display: flex;
  justify-content: center;
  @include typography-for-invalid-form;
}