@import '../../styles/global.scss';

.articleBody {
  background-color: white;
  width: 941px;
  min-height: 685px;
  margin-top: -20px;
  padding: 25px 42px 20px 19px;
  word-wrap: break-word;
}
