@import '../../styles/global.scss';

.signInContainer {
  width: 380px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid $borderColor;
  background: $backgroundColorBase;
  box-shadow:
    0px 0.6088px 2.93329px 0px rgba(0, 0, 0, 0.02),
    0px 1.46302px 7.04911px 0px rgba(0, 0, 0, 0.03),
    0px 2.75474px 13.27285px 0px rgba(0, 0, 0, 0.04),
    0px 4.91399px 23.67649px 0px rgba(0, 0, 0, 0.04),
    0px 9.19107px 44.28427px 0px rgba(0, 0, 0, 0.05),
    0px 22px 106px 0px rgba(0, 0, 0, 0.07);

  h1 {
    @include typography-for-form-title;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      @include typography-for-form-names;
      margin-bottom: 2px;
    }

    input {
      @include typography-for-form-fields;
      padding: 10px;
      border: 1px solid $borderColor;
      border-radius: 5px;
      outline: none;
      margin-bottom: 12px;
      &:focus {
        border-color: $infoColor;
      }
      &::placeholder {
        @include typography-for-form-fields-placeholder;
      }
    }
    
    p {
      @include typography-for-invalid-form;
      margin-top: -12px;
      margin-bottom: 12px;
    }

    button {
      @include typography-for-create-form-btn;
      padding: 10px 15px;
      margin-top: 9px;
      background-color: $infoColor;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      transition: transform 0.1s;
      &:hover {
        background-color: $infoColorHover;
      }
      &:active {
        transform: translateY(4px);
      }
    }
  }

  .alternative {
    margin-top: 10px;
    text-align: center;
    @include typography-for-alternative-sign;
    a {
      @include typography-for-signIn-alternative;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .emailError,
  .passwordError {
    border: 1px solid $textColorForInvalidForm;
  }

  .errorMessage {
    @include errorMessage;
  }
}
