@import '../../styles/global.scss';
.loadingSpin {
  display: block;
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
}

.articlesList {
  width: 1440px;
  @include vertical-center;
  row-gap: 20px;
  & > :last-child {
    margin-bottom: 20px;
  }
}
